// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$prussian-blue: #212F45;
$prussian-blue-light: #12404c24;

$duck-green: #006466;
$duck-green-light: #009EA0;

$dark-purple: #3E1F47;
$light-purple: #743A84;
