    <div class="modal-container">
      <div class="overlay modal-trigger"></div>
      <div class="modal1">
        <button class="close-modal modal-trigger">X</button>
        <h1>Nous contacter</h1>

        <!-- ci-dessous on crée le formulaire de mise en relation -->
        <div class="modal-form">
          <form class="modal-form-content" action="/practice.html" method="POST">
            <label for="Nom" required>Nom</label>
            <input type="text" name="Nom" id="Nom">
            <br>
            <label for="Prénom" required>Prénom</label>
            <input type="text" name="Prénom" id="Prénom">
            <br>
            <label for="mail" required>E-Mail</label>
            <input type="text" name="E-Mail" id="E-Mail">
            <br>
            <label for="message" required>Message</label>
            <textarea id="message" name="message" rows="3" cols="40">écrivez votre message ici</textarea>
            <br>a
            <section>
            <input id="submission-btn" type="submit" value="Envoyer">
            </section>
          </form>
        </div>

      </div>
    </div>

      <!-- L'étape en dessous nous permet d'insérer un JS dans notre HTML. Sans ça le lien ne se fait pas.  -->
