<div style="background-color: #FAE1DF; margin: 8px; border-radius: 8px">
  <h2>Room : <%= book.room.name %></h2>
  <p>Start date : <%= book.start_date %></p>
  <p>End date : <%= book.end_date %></p>
  <p>Validate : <%= book.validate %></p>
</div>
