<%= link_to room_path(room) do%>
<div class="card" style="margin:8px; width: 256px">
  <img class="card-img-top" src="<%= room.photo.attached? ? cl_image_path(room.photo.key, height: 300, width: 400, crop: :fill) : asset_path('cabinet-medical.webp')%>" alt="">
  <div class="card-body">
    <h5 class="card-title"><%= room.name %></h5>
  </div>
</div>
<%end%>
