<div class="card" style="margin:8px; width: 256px">
  <img class="card-img-top" src="<%= room.image_url %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= room.name %></h5>
  </div>
</div>
