<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<div id="search_nav" class="collapse navbar-collapse">
    <h2 style="color: white; margin: 8px">Find your bonheur</h2>
		<form class="navbar-form form-inline">
			<div class="input-group search-box">
				<input data-search-target="find" data-action="keyup->search#find" type="text" id="search" class="form-control" placeholder="Recherche...">
			</div>
		</form>
	</div>
</nav>
