<div class="container">

  <div class="dashboard-container">
    <h2>Mes locaux</h2>
    <div class="card-deck dash-card" style="display:flex">
      <% if @rooms.size == 0 %>
        <p>You have no room yet ...</p>
        <i class="fa-solid fa-face-sad-cry"></i>
      <% else %>
        <% @rooms.each do |room| %>
          <%= render "dashboard_room", room: room %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="dashboard-container">
    <h2>Mes réservations</h2>
    <div class="card-deck dash-card" style="display:flex">
      <% if @bookings_request.nil? %>
        <p>You have no bookings request at the moment ...</p>
        <i class="fa-solid fa-face-sad-cry"></i>
      <% else %>
        <% @bookings_request.each do |book| %>
          <%= render "booking_request", book: book %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="dashboard-container">
    <h2>Mes demandes de location</h2>
    <div class="card-deck dash-card">
      <% if @bookings.size == 0 %>
        <p>You have no bookings yet ...</p>
        <i class="fa-solid fa-face-sad-cry"></i>
      <% else %>
        <% @bookings.each do |book| %>
          <%= render "booking", book: book %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
