<h2>Mes locals</h2>
<div class="card-deck" style="display:flex">
  <% @rooms.each do |room| %>
    <%= render "room", room: room %>
  <% end %>
</div>
​
<h2>Les reservations pour mes locaux</h2>
<div class="card-deck" style="display:flex">
  <% @bookings_request.each do |book| %>
    <%= render "booking_request", book: book %>
  <% end %>
</div>
​
<h2>Mes reservations</h2>
<div class="card-deck" style="display:flex">
  <% @bookings.each do |book| %>
    <%= render "booking", book: book %>
  <% end %>
</div>
