<div class="container">

  <div class="dashboard-container">
    <h2>Mes locaux</h2>
      <% if @rooms.size == 0 %>
        <div class="dash-card" style="display:flex">
          <p>You have no room yet ...</p>
          <i class="fa-solid fa-face-sad-cry"></i>
        </div>
      <% else %>
        <div class="result-cards">
          <% @rooms.each do |room| %>
            <div class="dash-card" style="display:flex">
              <%= render "dashboard_room", room: room %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class="dashboard-container">
    <h2>Mes réservations</h2>
      <% if @bookings_request.nil? %>
        <div class="dash-card" style="display:flex">
          <p>You have no bookings request at the moment ...</p>
          <i class="fa-solid fa-face-sad-cry"></i>
        </div>
      <% else %>
        <div class="result-cards">
          <% @bookings_request.each do |book| %>
            <div class="dash-card" style="display:flex">
              <%= render "booking_request", book: book %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class="dashboard-container">
    <h2>Mes demandes de location</h2>
      <% if @bookings.size == 0 %>
          <div class="dash-card" style="display:flex">
            <p>You have no bookings yet ...</p>
            <i class="fa-solid fa-face-sad-cry"></i>
          </div>
      <% else %>
        <div class="result-cards">
          <% @bookings.each do |book| %>
            <div class="dash-card" style="display:flex">
              <%= render "booking", book: book %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
