<div data-controller="search">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path('banner.jpg') %>);">
    <div class="container">
      <h1>Rentacare allows <strong>health care professionnals</strong> to <strong>rent an office</strong>!</h1>
      <p>Ease your working life, find places available for your activity.</p>
    </div>
  </div>

  <%= render "search_bar"%>

  <h1>Browse Rooms</h1>
  <div data-search-target="deck" class="card-deck" style="display: flex; flex-wrap: wrap; min-height: 100vh">
    <% @rooms.each do |room| %>
      <%= render "room", room: room %>
    <% end %>
  </div>
</div>
