.btn-light #submission-btn {
  border: 1px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  color: white;
  background-color: #113039;
}

.cancel-btn {
  background-color: #006466ec;
  border-radius: 16px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;

  p {
    margin: 0;
  }
}

.cancel-btn:hover {
  background-color: #c70b0bd3;
  color: white;
  transition: 0.2s;
}

.delete-btn {
  background-color: #00646640;
  border-radius: 16px;
  font-weight: bold;
  border-radius: 18px;
  position: absolute;
  bottom: 40px;
  right: 8px;
}

.btn-ok {
  background-color: #009ea0c4;
  border-radius: 4px;
}

.btn-ok:hover {
  background-color: #009da0;
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.418);
  color: white;
  transition: 0.2s;
}

.btn-no {
  background-color: #743a84b8;
  border-radius: 4px;
}

.btn-no:hover {
  background-color: #743a84fc;
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.418);
  color: white;
  transition: 0.2s;
}
