.fa-glasses {
  color: white;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $prussian-blue-light;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  background-color: transparent;
  height: 60px;
  width: 40;
  width: 60px;
  border-radius: 32px;
}

#search_nav {
  justify-content: center
}

.navbar-form {
  width: 32%;
  margin: 8px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

#navbarDropdown {
  position: absolute;
  right: 10px;
}

#navbarSupportedContent {
  position:relative;
}
